/* footer */
.footerContainer {
  height: 170px;
  background-color: #01000f;
  text-align: center;
  line-height: 50px;
  padding-top: 25px;
  color: white;
  border-top: 1px solid #ffffff;
}
.listFooter li a {
  color: white;
}
.listFooter li a:hover {
  color: #e73546;
}
.listFooter,
a {
  text-decoration: none;
}
.listFooter li,
.listSocialFooter li {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}
.listSocialFooter a {
  color: #ffffff;
}
.listSocialFooter a:hover {
  color: #e73546;
}
.copyRightLine a{
  color: #ffffff;
}
.copyRightLine a:hover{
  color: #e73546;  
}

.copyRightLine a:nth-child(1):hover{
  font-size: 22px;
}