/* home */
.homeContainer {
  background-color: #141747;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}
.typingTextStatic {
  position: absolute;
  z-index: 9999;
  margin: 0 auto;
  top: 42%;
  color: white;
  left: 39%;
  font-size: 170%;
  letter-spacing: 2px;
}
/* home Animation Text  */
.typingText {
  position: absolute;
  z-index: 9999;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 300%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: white;
  left: 39%;
}
.animationText {
  animation: writing 7s steps(40) 1s infinite normal both,
    blink 500ms steps(40) infinite normal;
}
@keyframes writing {
  0% {
    width: 0;
  }
  50% {
    width: 5.5em;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}