* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;
}
body {
  /* height: calc(100vh - 60px); */
}

/* home */
.homeContainer {
  background-color: #141747;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}
.typingTextStatic {
  position: absolute;
  z-index: 9999;
  margin: 0 auto;
  top: 42%;
  color: white;
  left: 39%;
  font-size: 170%;
  letter-spacing: 2px;
}
/* home Animation Text  */
.typingText {
  position: absolute;
  z-index: 9999;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 300%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: white;
  left: 39%;
}
.animationText {
  animation: writing 7s steps(40) 1s infinite normal both,
    blink 500ms steps(40) infinite normal;
}
@keyframes writing {
  0% {
    width: 0;
  }
  50% {
    width: 5.5em;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/* Navbar  */
.container {
  height: 65px;
  border-bottom: 0.1px solid white;
  background-color: #e73546;
  font-size: 1.1em;
  position: fixed;
  width: 100%;
  z-index: 9999;
  overflow: auto;
}
.leftSide li,
.rightSide li {
  display: inline;
}
.leftSide {
  float: left;
  position: relative;
}
.rightSide {
  float: right;
  margin-right: 3%;
  position: relative;
  top: 35%;
}
.leftSide li a {
  color: white;
}
.rightSide li a {
  color: white;
}
.rightSide li a:hover {
  color: #141747;
  font-weight: 550;
}
.rightSide li {
  margin-left: 30px;
}

.rightSide li:nth-child(6) {
  margin-left: 70px;
}
.Logo{
  width: 150px;
  height: 100px;
  margin-top: -18px;
  transform: translateX(0px);
}
.Logo:hover{
 transform: translateX(5px);
}

/* footer */
.footerContainer {
  height: 170px;
  background-color: #01000f;
  text-align: center;
  line-height: 50px;
  padding-top: 25px;
  color: white;
  border-top: 1px solid #ffffff;
}
.listFooter li a {
  color: white;
}

.listFooter li a:hover {
  color: #e73546;
}
.listFooter,
a {
  text-decoration: none;
}
.listFooter li,
.listSocialFooter li {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}
.listSocialFooter a {
  color: #ffffff;
}
.listSocialFooter a:hover {
  color: #e73546;
}
.copyRightLine a{
  color: #ffffff;
}
.copyRightLine a:hover{
  color: #e73546;  
}

.copyRightLine a:nth-child(1):hover{
  font-size: 22px;
}


/* Register // Login  */

.containerRegister {
  height: 100vh;
  background-color: #141747;
}
.containerResgiterForm {
  position: relative;
  left: 35%;
  font-size: 1.5em;
  color: #ffffff;
  width: 55%;
}
.containerResgiterForm h1 {
  padding-top: 160px;
}
.formContainer:nth-child(1),
.containerRegister .submit {
  margin-top: 50px;
}
.formContainer:not(:nth-child(1)) {
  margin-top: 45px;
}
.formContainer input {
  margin-left: 15px;
  border-radius: 6px;
  padding: 3px;
  width: 200px;
  border: 1px solid #141747;
  z-index: 9999;
  font-size: 17px;
}
.formContainer {
  font-size: 1em;
}
.submit {
  margin-left: 130px;
  width: 140px;
  font-size: 20px;
  color: white;
  background-color: #141747;
  border-radius: 10px;
  padding: 10px;
  z-index: 0;
  border: 1px solid white;
  letter-spacing: 0.8px;
}
.submit:hover {
  border: 2px solid #e73546;
}
.particlesRegister {
  position: absolute;
  width: 100%;
  z-index: auto;
}
/* Alert  Register  */
.alerts {
  margin-top: 40px;
  color: #e73546;
  font-size: 20px;
}
/* User */
.containerUser {
  width: 100%;
  overflow: hidden;
}
.sidebarUser {
  width: 100%;
  margin-right: 20px;
}
.sidebarUser ul {
  list-style: none;
}
.userMenu {
  width: 15%;
  height: 650px;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.userMenuList {
  margin: -1px 10px;
}
.userMenuList li {
  padding-top: 25px;
}

/* Sidebar2*/
.sidenav2 {
 height: 85%;/* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  left: 0;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
  float: left;
  position: absolute;
  z-index: 1;
  margin-left: 5px;
  border-right: 1px solid lightgrey;
  margin-top: 1%;

}
.sidenav2 a {
  text-decoration: none;
  text-align: center;
  font-size: 35px;
  color: #141747;
  position: absolute;
  bottom: 25%;
  margin-left: 40%;
  z-index: 0;
}

.sidenav2 a:hover {
  color: #e73546;
}

.sidenav ul {
  margin-left: 20px;
  list-style: none;
}
.second h1 {
  font-size: 40px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  color: #2f3134;
}
.sidenav2Balance {
  text-align: center;
  padding-top: 60px;
  color: #141747;
  border-bottom: 1px solid #141747;
  margin-left: 10%;
  width: 80%;
}
.sidenav2Balance ul {
  list-style: none;
}
.sidenav2Balance ul li {
  padding-bottom: 20px;
}

/* Price Component  */
.barUser {
  height: 30px;
  background-color: #141747;
  color: white;
  width: 100%;
  margin-top: 65px;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
}
.dataBarUser {
  padding-top: 7px;
  padding-left: 5px;
  color: white;
  font-size: 13px;
}

.dataBarUser span {
  display: inline-block;
  margin-right: 15px;
  animation: line 50s linear infinite;
}
@keyframes line {
  0% {
    transform: translate(210vh, 0);
  }
  50% {
    transform: translate(0vh, 0);
  }
  100% {
    transform: translate(-190vh, 0);
  }
}
.live {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  margin-right: 5px;
  animation: pulse 1.5s infinite;
  opacity: 1;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f91a1a;
    opacity: 0.9;
  }
  70% {
    box-shadow: 0 0 0 3px #f91a1a;
    opacity: 0.6;
  }
  100% {
    box-shadow: 0 0 0 0 #f91a1a;
    opacity: 0.2;
  }
}

/* About */
.aboutContainer {
  width: 100%;
  height: 100%;
  padding-top: 95px;
}
.aboutContainer p:nth-child(1) {
  left: 5%;
  top: 20%;
  position: absolute;
  color: #ffffff;
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}
.aboutContainer p:nth-child(2) {
  left: 5%;
  top: 40%;
  position: absolute;
  color: #ffffff;
  line-height: 30px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
}
.aboutContainer h3 {
  left: 5%;
  top: 50%;
  position: absolute;
  color: #ffffff;
  line-height: 40px;
  text-align: justify;
  text-justify: inter-word;
  font-size: 30px;
}
.containerVideoAbout {
  height: 100%;
}
.containerVideoAbout video {
  width: 100%;
}
.barAbout {
  height: 50px;
}
/* Second price Component */
.barUserB {
  height: 130px;
  color: #ffffff;
  background-color: #141747;
  width: 100%;
  position: relative;
  text-align: center;
}
.dataBarUserB ul {
  list-style: none;
  margin-left: 35px;
  padding-top: 20px;
}
.dataBarUserB ul li {
  display: inline-block;
  margin-right: 30px;
  padding-right: 30px;
  font-size: 20px;
}
.dataBarUserB ul li:not(:nth-child(5)) {
  border-right: 1px solid lightgrey;
}

/* //News */

.containerNews {
  width: 100%;
  height: 100%;
  margin-left:0.6%;
  padding-top: 90px;
}

.newsSpanish {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 70%;
  margin-left: 16%;
  margin-top: 20px;
}
.containerNew {
  margin-bottom: 20px;
}

.containerNew ul {
  list-style: none;
}
.containerNew ul li h1 {
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
  width: 60%;
}
.containerNew ul li img {
  margin-top: 10px;
  width: 310px;
  height: 290px;
  text-align: right;
  border-radius: 10px;
}
.containerNew ul li h3 {
  margin: 10px 0px 25px 0px;
  font-size: 14px;;
}
.containerNew ul li a {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #141747;
}
.containerNew ul li a:hover {
  color: #141747;
  background-color: #ffffff;
  border: 2px solid #141747;
  font-weight: 700;
}
.textNews {
  margin-top: 50px;
  font-size: 26px;
  margin-left: 70px;
}
.textNews h3 {
  padding-bottom: 50px;
}
.textNews a {
  color: #141747;
  border: 1px solid #141747;
  padding: 12px;
  border-radius: 10px;
}
.textNews a:hover {
  color: #ffffff;
  background-color: #141747;
}

/* ///News tops */
.news{
  display: flex;
  align-items: center;
  justify-content: center;
}
.news ul li {
  display: inline-block;
}
.news1 {
  margin-top: 10%;
  margin-bottom: 10%;
}
.news1 img {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  margin: 0px 10px;
}
.news1 h1 {
  position: absolute;
  color: #ffffff;
  width: 20%;
  margin-left: 20px;
  margin-top: 250px;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
}

.news1 a {
  position: absolute;
  color: white;
  margin-left: 50px;
  margin-top: 415px;
  margin-bottom: 20px;
  border: 2px solid #141747;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  text-align: center;
  background-color: #141747;
}
.news1 a:hover {
  color: #141747;
  background-color: #ffffff;
}
.news1 h4 {
  position: absolute;
  color: white;
  margin-left: 20px;
  margin-top: 370px;
  font-weight: 600;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.75);
  font-size: 15px;
}
.fb-share-button{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70%;
}
.fb-share-button:not(:nth-child(2)) {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20%;
}

/* Portolio Carpet */
/* ////Portfolio */
.portfolioContainer {
  height: 100%;
}

.sidebarP {
  height: 100vh;
  width: 220px; /* Set the width of the sidebar */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* Black */
  padding-top: 10px;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1); */
  float: left;
  position: fixed;
  margin-top: 110px;
}

.elementsSidebar {
  padding: 6px 0px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.coinsLoading,
.coinsLoading2Portfolio {
  margin-top: 50px;
  margin-left: 210px;
}
.loadingCoins ul:not(#display2),
.coinsLoading2Portfolio ul:not(#display2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  list-style: none;
}
.coinsLoading ul li,
.coinsLoading2Portfolio ul li {
  width: 95%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.coinsLoading ul li:hover {
  cursor: pointer;
  border: 2px solid #141747;
}
.coinsLoading2Portfolio ul li:hover{
  border: 2px solid #141747;
}

.firstDataCoin ul li{
  display: grid;
  
  border-radius: 10px;
}
.loadingCoins{
  margin-bottom: 30px;
  margin-left: 30px;
}
.loadingCoins ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
}
.coinsLoading ul li h1,
.coinsLoading2Portfolio ul li h3,
.coinsLoading2Portfolio ul li h1 {
  padding-left: 10%;
  margin-top: 22%;
}
.loadingCoins ul li h3{
  padding-top: 30px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.coinsLoadingImg {
  height: 80px;
  width: 80px;
  margin-left: 25px;
  margin-top: 10px;
}
.eliminateCoin {
  margin-left: 25px;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #e73546;
  text-align: center;
  border-radius: 5px;
  color: #141747;
}
.searchContainer {
  font-size: 30px;
  margin: 40px 10px;
  text-align: center;
}
.infoSelectedCrypto {
  padding-top: 7px;
}
.infoSelectedCrypto h3 {
  text-align: center;
  padding-top: 25px;
}
.infoSelectedData {
  margin-top: 20px;
  text-align: center;
}
.infoSelectedData h4 {
  margin-bottom: 20px;
  margin-top: 35px;
}
.infoSelectedData img {
  margin-left: 0px;
}
.firstDataCoin{
  padding-top: 20px;
  margin-left: 50px;
}
.firstDataCoin ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  width: 1000px;
}
.firstDataCoin ul{
  margin-top: 20px;
  margin-bottom: 20px;
}
.firstDataCoin ul li{
  border: 1px solid gray;
  padding: 0px 15px;
  padding-bottom: 15px;

}

#horas{
  font-size: 38px;
  margin: 10% 10% 10% 10%;
}
.arrow{
  font-size: 2.3em;
  text-align: left;
  margin-left: 10%;
  margin-top: -25px;
}
.arrow i{
  padding-left: 20%;
}
.arrow2{
  font-size: 2.3em;
  text-align: left;
  margin-left: 20%;
  margin-top: -25px;
}
.arrow2 i{
  padding-left: 20%;
}
.prices ul{
  grid-template-columns: repeat(3,1fr);
}
.prices ul li{
  padding: 7px 14px;
  width: 292px; 
}
.prices ul li:nth-child(2){
  border: 1.5px solid #141747;
}
/* //Favorite Icon Loading Coins */
.favoriteHeart{
  color:lightgray;
  padding-left: 20px;
  padding-top: 10px;
}
.favoriteHeart:hover{
  color:#f91a1a;
}
.buttonGraph{
  text-align: center;
  padding-top: 10px;
}

.buttonGraph button{
  padding: 10px;
  border-radius: 10px;
  background-color: #141747;
  color:#ffffff;
  font-size: 20px;
  z-index: 9;
  text-align: center;
}
.graph{
  margin-bottom: 20px;
}

.financialInformation{
  position: relative;
  left: 2%;
}

.arriba {
  font-size: 35px;
  text-align: center;
  width: 5%;
  border-radius: 10px;
  padding: 10px;
  color: #141747;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-left: -17%;
  position: relative;
}
.arriba:hover{
  font-size: 40px;
  padding: 12px;
  color: #e73546;
  cursor: pointer;
}
.twitter{
  text-align: center;
}
.twitterButton{
  background-color: #00acee;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color:#ffffff;
  margin-bottom: 10px;
}
.timelineTwitter{
  text-align: center;
}
.twitterShareButton{
  position: absolute;
  left: 28.5%;
}