* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam", sans-serif;
}

/* //loader  */
.loader{
  color: #141747;
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
}
.scrennerContainer{
  padding-top: 90px;
  margin-left: 17%;
}